.Drops:first-of-type {
    margin-bottom: 0;
}

.Drops:last-of-type {
    margin-bottom: 150px;
}

.Drops {
	text-align: center;
	margin-bottom: 50px;
}

.Drops__btn {
	font-family: "Barlow Condensed", sans-serif;
	text-transform: uppercase;
}

.Drops h1 {
	color: #7574B4;
	font-size: 3.5em;
	font-weight: 800;
	margin: 20px 0;
}

.Drops h2 {
	margin: 0 0 15px 0;
	color: #fff;
	font-size: 2em;
	font-weight: 700;
}

.Drops p {
	font-family: "Barlow Condensed", sans-serif;
	color: #fff;
	font-size: 1.2em;
}

.Drops__img {
	margin: 20px auto;
    width: 100%;
}

.Drops__btn {
	font-size: 1.3em;
	margin: 15px auto;
	display: block;
	color: #fff !important;
	width: fit-content;
	padding: 15px;
	background-color: #7574B4;
}

.Cta-d5-groups:hover,
.Cta-d5-news:hover,
.Drops__btn:hover {
	background-color: #000;
	transition: 1s ease-in;
	-webkit-transition: 1s ease-in;
	-moz-transition: 1s ease-in;
	-ms-transition: 1s ease-in;
	-o-transition: 1s ease-in;
}

.Drops__warning,
.Drops a {
	color: #7574B4;
	font-weight: 700;
}

@media screen and (max-width: 767px) {
    .Drops:last-of-type {
        margin-bottom: 50px;
    }

    .Drops {
        padding-left: 30px;
        padding-right: 30px;
    }
}