.Stream {
	margin: auto;
	display: block;
	width: 100%;
	text-align: center;
	position: relative;
	background-image: url("../assets/bandeiras.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	padding: 165px 0 60px 0;
}

#Stream__player {
	margin: 0 auto;
	display: block;
	max-width: 1170px;
	/* height: 660px; */
}

.Stream iframe {
	margin: 0 auto;
	display: block;
	width: 100%;
	max-width: 1170px;
	height: 660px;
}

.Information {
	background-color: #1e1e1e;
	color: #fff;
	font-family: Barlow Condensed, sans-serif;
	text-align: center;
}

.Information__icon-wrapper {
	padding: 60px 40px 60px 0;
	display: inline-table;
}

.Information__icon-wrapper:last-child {
	padding: 60px 0 60px 0;
}

.Information__icon img {
	width: 200px;
	margin: 0 auto;
}

.Information__icon-wrapper:nth-child(even):hover {
	transform: rotate(2deg);
	transition: 0.8s ease-in;
}

.Information__icon-wrapper:nth-child(odd):hover {
	transform: rotate(-2deg);
	transition: 0.2s ease-in;
}

.Information__content {
	margin: 0 auto;
	text-align: center;
	width: 200px;
}

.Information__content p {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 10px;
}

@media screen and (max-width: 867px) {
	.Information__icon-wrapper {
		padding: 0 25px 15px 25px;
	}

	.Information__icon-wrapper:first-child {
		padding-top: 40px;
	}

	.Information__icon-wrapper:last-child {
		padding-top: 0;
		padding-bottom: 40px;
	}
}

.importantDates {
	background-color: #1e1e1e;
	color: #fff;
	font-family: Barlow Condensed, sans-serif;
	text-align: center;
	padding: 40px 0;
	margin-bottom: 40px;
}

.importantDates h1 {
	color: #fff;
}

.importantDates__table {
	margin: 0 auto;
	text-transform: uppercase;
}

.importantDates__table td {
	padding: 5px 125px;
	border: 5px solid #1e1e1e;
}

.importantDates__table td:nth-child(even) {
	background-color: #7574B4;
}

.importantDates__table td:nth-child(odd) {
	font-size: 1.5em;
	font-weight: 700;
}

@media screen and (max-width: 767px) {
	.importantDates__table td:nth-child(even) {
		padding: 5px 50px;
	}

	.importantDates__table td:nth-child(odd) {
		font-size: 1.2em;
		font-weight: 700;
		padding: 5px 0;
	}
}

.Casters {
	text-align: center;
}

.Casters h1 {
	color: #fff;
}

.Casters h2,
.Casters a {
	color: #fff;
}

.Caster__wrapper {
	display: inline-block;
	margin-bottom: 20px;
}

.Caster__avatar {
	background-image: url(../assets/casters/aramado.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 30px;
	margin: 0 10px;
}

.Caster__avatar img {
	max-width: 150px;
	margin-top: 5px;
}

.Caster__wrapper:hover {
	/* opacity: 0.9; */
	transform: translateY(-2px);
	transition: 0.3s ease;
}

.max-width-1000 {
	max-width: 1000px !important;
}

.float-right {
}