* {
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	background-image: url(../assets/bg-rustico.png);
	margin: 0 auto;
	text-size-adjust: 100%;
    outline: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body a {
	text-decoration: none;
}

header {
	background-color: #7574B4;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
	height: 100px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	vertical-align: middle;
	box-shadow: 0 1px 1em #000;
}

header img {
	width: 150px;
	margin: 0 auto;
	padding-top: 0.75rem !important;
	vertical-align: middle;
	z-index: 99999;
}

.content-wrapper {
	display: block;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

p {
	font-family: Barlow Condensed, sans-serif;
}

h1, h2 {
	font-family: Barlow Condensed, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 10px;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 20px;
}

.Navigation,
.Navigation__external {
	font-family: "Barlow Condensed", sans-serif;
	color: #fff;
	text-transform: uppercase;
}

.Navigation {
	float: left;
	position: absolute;
	height: 100%;
	left: 50px;	
}

.Navigation ul,
.Navigation__external ul {
	list-style: none;
	height: 100%;
	margin-block-start: 0;
}

.Navigation li,
.Navigation__external li {
	display: inline-flex;
	padding: 0 20px;
	height: 100%;
	cursor: pointer;
	color: #fff;
}

.Navigation li div,
.Navigation__external div {
	display: flex;
	align-self: center;
}

.Navigation a,
.Navigation__external a {
	margin: 0 auto;
	color: #fff;
	font-weight: 700;
	letter-spacing: 0.04em;
	font-size: 1.2em;
}

.Navigation li:hover,
.Navigation__external li:hover {
	transition: 0.3s ease;
	background-color: #6d6ca7;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
}

.Navigation__external {
	float: right;
	position: absolute;
	display: inline-block;
	height: 100%;
	left: 80%;
}

.Navigation__external ul {
	padding-inline-start: 0;
}

.Mobile__navigation {
    display: none;
}

/* ------------------- */
/* Mobile devices     */
/* ----------------- */

@media screen and (max-width: 767px) {
	.display-none {
		display: none;
	}
}

@media screen and (max-width: 1000px) {
	.divisor p {
		text-align: center !important;
	}
}

@media screen and (max-width: 1125px) {
	.display-none {
		display: none;
	}

	.Mobile__navigation {
		display: flex !important;
    }
    
	#Mobile__navigation-menu-icon {
		left: 20px;
		top: 33px;
		font-size: 20px;
		letter-spacing: 0.2em;
		font-weight: 800;
		color: #fff;
		cursor: pointer;
		transition: all 0.5s;
		position: absolute;
		display: flex;
	}

	#Mobile__navigation-menu-icon:hover {
		top: 40px;
		transform: rotate(90deg);
	}

	#Mobile__navigation-side-menu a {
        color: #fff;
	}

	#Mobile__navigation-side-menu li {
		font-family: "Barlow Condensed", sans-serif;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		height: 70px;
		line-height: 70px;
		color: #fff;
		cursor: pointer;
		background-color: #000;
		font-size: 1em;
		letter-spacing: 0.2em;
		transition: all 0.25s;
	}

	#Mobile__navigation-side-menu li:hover {
		background-color: #565682;
		letter-spacing: 0.3em;
	}

	#Mobile__navigation-side-menu ul {
		list-style: none;
		padding: 0;
		margin-top: 75px;
	}

	#Mobile__navigation-side-menu {
		width: 400px;
		top: 0;
		left: -400px;
		height: 100vh;
		overflow: hidden;
		background-color: black;
		position: absolute;
		z-index: 999999999;
		opacity: 0;
		transition: all 0.25s;
		-webkit-transition: all 0.25s;
	}

	#Mobile__navigation-side-menu.enter {
		opacity: 1;
		left: 0;
	}

	#exit {
		position: absolute;
		right: 10px;
		padding: 10px;
		top: -10px;
		font-size: 3em;
		color: white;
		font-weight: 600;
		cursor: pointer;
		transition: all 0.25s;
		-webkit-transition: all 0.25s;
	}

	#exit:hover {
		color: #565682;
	}

	header {
		height: 93px;
	}

	header img {
		width: 140px;
	}
}

.Sponsors {
    position: fixed;
    background-color: #131313;
    text-align: center;
    padding: 25px 0 20px 0;
    bottom: 0;
    width: 100%;
    margin: auto;
	vertical-align: middle;
}

.divisor {
	display: inline-block;
}

.divisor p {
	color: #fff;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	text-align: left;
	margin-block-start: 0;
}

.Sponsors img {
    height: 56px;
    margin-right: 60px;
}

.height-fix {
    height: 30px !important;
    margin-bottom: 10px;
}

.zero-opacity {
	display: none !important;
}

.margin-fix {
	margin-top: 150px;
}

.margin-bottom-fix {
	margin-bottom: 120px !important;
}

@media screen and (max-width: 767px) {
	.margin-fix {
		margin-top: 150px;
	}

	.margin-bottom-fix {
		margin-bottom: 20px !important;
	}
}

@media screen and (max-width: 1425px) {
    .Sponsors {
        position: relative;
    }

	.Sponsors img {
        margin: 30px;
        display: inline-block;
    }

    .height-fix {
        margin: 30px;
    }
}