.Matches h1 {
	color: #7574B4;
	font-size: 3.5em;
	font-weight: 800;
	text-align: center;
	margin: 0;
}

.Matches h2 {
	color: #fff;
	text-align: center;
	font-weight: 700;
	font-size: 2.8em;
}

.kv {
	padding: 40px 0;
	width: 100%;
}

.Phases {
	margin: 0 auto;
	width: 300px;
	border-top: 1px solid #7574B4;
	border-bottom: 1px solid #7574B4;
}

.Phases h1 {
	padding: 20px 0;
	color: #7574B4;
	font-size: 3em;
	font-weight: 800;
}

.Playoffs__column h2 {
	font-family: "Barlow Condensed", sans-serif;
	text-transform: uppercase;
}

.Playoffs {
	margin-top: 20px;
}

.Playoffs__wrapper {
	margin: 0 auto;
	display: flex;
}

.Playoffs__column {
	display: inline;
	position: relative;
	flex: 1;
}

.Playoffs__column h2 {
	text-align: center;
	font-size: 2em;
	padding: 20px 0;
}

.Playoffs__match:last-of-type {
	margin-bottom: 50px !important;
}

.Playoffs__match-grand-finals {
	padding-left: 40px;
	position: relative;
}

.Playoffs__match {
	width: 100%;
	margin: 0 auto !important;
	margin-bottom: 30px !important;
}

.winner {
	top: 10% !important;
}

.bracket-line {
	position: absolute;
	right: -40px;
	width: 40px;
	height: 100%;
	margin-top: -4px;
}

.Playoffs__match-info {
	font-family: "Barlow Condensed", sans-serif;
	text-transform: uppercase;
	background-color: #7574B4;
	color: #fff;
	justify-content: space-between;
	padding: 0 8px 0 8px;
	line-height: 30px;
	display: flex;
	font-size: 18px;
}

.Playoffs__match-team {
	font-family: "Barlow Condensed", sans-serif;
	display: flex;
	justify-content: space-between;
	border: 1px solid #7574B4;
	border-top: none;
	align-items: center;
	padding: 16px;
	font-size: 28px;
}

.Playoffs__match-team img {
	max-width: 46px;
}

.Playoffs__match-info-draft5 {
	background-color: #7574B4;
	border-top: none;
	text-align: right;
	padding: 5px;
	position: relative;
}

.Playoffs__match-info-draft5 a {
	font-family: "Barlow Condensed", sans-serif;
	text-transform: uppercase;
	color: #fff;
}

.match-team-name {
	font-family: "Barlow Condensed", sans-serif;
	text-transform: uppercase;
	color: #7574B4;
	flex: 1;
	margin-left: 16px;
}

.match-team-loser span,
.match-team-loser img {
	opacity: 0.3;
}

.match-team-loser span {
	justify-content: space-between;
}

.Matches__slider-wrapper {
	padding: 20px 30px;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.Matches__slider-wrapper,
.Matches__slider-wrapper a {
	color: #fff;
	font-family: "Barlow Condensed", sans-serif;
	text-transform: uppercase;
}

.match-slider {
	display: block;
}

.match-slider-container {
	display: flex;
	padding: 30px 0;
}

.slider-match {
	margin-right: 16px;
}

.slider-match-container {
	display: flex;
}

.slider-match-content {
	background-color: #7574B4;
	padding: 16px;
	color: #fff;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}

.slider-match-content-vs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.slider-match-content-vs img {
	margin: 0;
	position: relative;
	top: 1px;
	margin-right: 8px;
}

.slider-match-content-vs img:last-child {
	margin-left: 8px;
}

.slider-match-content-vs .slider-match-team-name {
	font-weight: 600;
}

.slider-match-score {
	margin: 0 10px;
}

.slider-match-content-status {
	margin: 8px 0;
	font-weight: 400;
	font-size: 14px;
}

.slider-match-live .slider-match-content-status {
	color: #f6a011;
}

.slider-match-live .live-circle {
	display: inline-block;
	width: 9px;
	height: 9px;
	background: #f6a011;
	border-radius: 9px;
	margin-right: 4px;
	position: relative;
	top: -1px;
}

.slider-match-content-maps {
	font-size: 12px;
	font-weight: 400;
}

.slick-next,
.slick-prev {
	position: absolute;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	border: 1px solid #7574B4;
	text-align: center;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	font-size: 0.9em;
	font-weight: 600;
}

.slick-next {
	right: -40px;
}

.slick-prev {
	left: -40px;
}

.slick-slide img {
	width: 15px;
}

.Cta-d5-groups {
	display: block;
	padding: 12px 0;
	text-transform: uppercase;
	font-family: Barlow Semi Condensed, sans-serif;
	font-size: 1.3em;
	background-color: #7574B4;
	border: none;
	color: #fff !important;
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
}

.Cta-d5-groups:hover {
	background-color: #000;
	transition: 1s ease-in;
	-webkit-transition: 1s ease-in;
	-moz-transition: 1s ease-in;
	-ms-transition: 1s ease-in;
	-o-transition: 1s ease-in;
}

.Groups-cta-container {
	width: 100%;
	text-align: right;
	margin-bottom: 30px;
}

#upper-3 {
	padding-top: 22%;
}

@media screen and (max-width: 1272px) {
	.Playoffs__wrapper {
		display: block !important;
		width: 100%;
		padding-right: 30px;
		padding-left: 30px;
	}

	.Playoffs__match {
		width: 100%;
		margin: 0 auto !important;
		margin-bottom: 30px !important;
	}

	.Playoffs__match-grand-finals {
		padding-left: 0 !important;
	}

	.Matches__slider-wrapper {
		padding: 0 30px;
		position: relative;
		display: block;
	}

	.slick-next {
		right: -25px;
	}

	.slick-prev {
		left: -25px;
	}

	#upper-3 {
		padding-top: 0 !important;
	}
}

@media screen and (max-width: 767px) {
    .Matches h2 {
        font-size: 1.5em;
    }

	.Playoffs__wrapper {
        padding: 30px 10px 0 10px !important;
	}

	.bracket-line {
		display: none;
	}

	.Cta-d5-groups {
        max-width: 300px !important;
		padding: 12px 5px !important;
	}

	.Playoffs__wrapper {
		padding-top: 0 !important;
	}

	.kv {
		padding: 40px 0 0 0;
		width: 100%;
	}
}