.Newsletter {
	text-align: center;
	background-color: #565682;
	padding: 40px 0 40px 0;
	margin-bottom: 105px;
}

.Newsletter h1,
.Newsletter p {
	color: #fff;
}

.Left {
	top: 150px;
	position: relative;
	margin-left: calc(50% - 750px);
}

.Left div {
	position: absolute;
}

.Right {
	top: -30px;
	position: relative;
	margin-left: calc(50% + 410px);
}

.Right div {
	position: absolute;
}

.Left img {
	width: 400px;
}

.Right img {
	width: 500px;
}

@media screen and (max-width: 1735px) {
	.Left {
		margin-left: calc(50% - 650px);
	}

	.Left img {
		width: 300px !important;
	}

	.Right {
		top: 100px;
	}

	.Right img {
		width: 300px !important;
	}
}

@media screen and (max-width: 1434px) {
	.Right {
		margin-left: calc(50% + 350px);
	}

	.Right img {
		width: 280px !important;
	}
}

@media screen and (max-width: 1280px) {
	.Left,
	.Right {
		display: none;
	}
}

@media screen and (max-width: 1425px) {
	.Newsletter {
		margin-bottom: 0;
	}
}

.entry__field {
	font-family: "Barlow Condensed", sans-serif;
	color: #000;
}

#sib-container,
.sib-form {
	padding: 0 !important;
}

#sib-container input:-ms-input-placeholder {
	text-align: left;
	font-family: "Barlow Condensed", sans-serif;
	color: #c0ccda;
}

#sib-container input::placeholder {
	text-align: left;
	font-family: "Barlow Condensed", sans-serif;
	color: #c0ccda;
}

#sib-container textarea::placeholder {
	text-align: left;
	font-family: "Barlow Condensed", sans-serif;
	color: #c0ccda;
}
