.News {
	margin: 40px 0 60px 0;
	font-family: Barlow Condensed, sans-serif;
	text-align: center;
	padding: 0 30px;
	background-image: url(../assets/bg-rustico.png);
}

.News h1,
.News h2 {
	text-align: center;
	color: #fff;
}

.News a {
	color: #fff;
}

.featured-news {
	display: flex;
}

.news-list {
	display: flex;
}

.news-cta-container {
	text-align: right;
	margin-top: 20px;
	padding-bottom: 20px;
}

.Cta-d5-news {
	display: block;
	padding: 12px 0;
	text-transform: uppercase;
	font-family: Barlow Semi Condensed, sans-serif;
	font-size: 1.3em;
	background-color: #7574B4;
	border: none;
	color: #fff !important;
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
	margin-top: 30px;
}

.Cta-d5-news:hover {
  background-color: #000;
  transition: 1s ease-in;
  -webkit-transition: 1s ease-in;
  -moz-transition: 1s ease-in;
  -ms-transition: 1s ease-in;
  -o-transition: 1s ease-in;
}

.Cta-news-container {
	/* width: 100%; */
	text-align: right;
	margin-top: 24px;
}

/* ==================== */
/* news-block structure */
/* ==================== */
.news-block {
	/* border-bottom: 1px solid #7574B4; */
	display: block;
	background-size: cover;
	transition: all 0.2s;
}

.news-block:hover {
	color: #fff;
}

.gradient-overlay {
	display: flex;
	align-items: flex-end;
	padding: 20px;
	box-sizing: border-box;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #000000 100%);
	height: 100%;
}

.news-block-title {
	font-size: 16px;
	font-weight: 700;
}

@keyframes goup {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-8px);
	}
}

/* ==================== */
/* main news block variation */
/* ==================== */
.main-featured-news-block {
	height: 412px;
	margin-right: 16px;
	min-width: 776px;
	background-position: center;
}

.main-featured-news-block .news-block-title {
	font-size: 18px;
}

/* ==================== */
/* sub news block variation */
/* ==================== */
.sub-featured-news-block {
	height: 198px;
	margin-bottom: 16px;
	background-position: center;
}

/* ==================== */
/* news-list-item */
/* ==================== */
.news-list-item {
	/* border-bottom: 3px solid #661a1b; */
	display: flex;
	margin-right: 16px;
	transition: all 0.2s;
	flex-basis: 380px;
	min-height: 163px;
	background-color: #1e1e1e;
}

.news-list-item:hover {
	background-color: #7574B4;
	color: #fff;
}

.news-list-item:last-child {
	margin-right: 0;
}

.news-list-item-image {
	background-size: cover;
	background-position: center;
	min-width: 30%;
}

.news-list-item-content {
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.news-list-item-content .news-list-item-title {
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.news-list-item-title {
	text-transform: uppercase;
}

.news-list-item-content .news-list-item-date {
	font-size: 13px;
}

@media screen and (max-width: 1000px) {
	.featured-news {
		display: block;
	}

	.news-cta-container a {
		display: block;
	}

	.main-featured-news-block {
		min-width: 100%;
		margin-bottom: 16px;
	}

	.sub-featured-news-container {
		display: flex;
		justify-content: space-between;
	}

	.sub-featured-news-block {
		margin-right: 16px;
		flex: 1;
	}

	.sub-featured-news-block:last-child {
		margin-right: 0;
	}

	.news-list {
		display: block;
	}

	.news-list-item {
		margin-right: 0;
		margin-bottom: 16px;
		min-height: auto;
	}

	.news-cta-container {
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.sub-featured-news-container {
		display: block !important;
	}

	.sub-featured-news-block {
		margin-right: 0 !important;
	}
}
