.align-center {
	text-align: center;
}

.qualifiedTeams,
.Teams {
	font-family: Barlow Condensed, sans-serif;
}

.qualifiedTeams {
	margin-top: 40px;
	background-image: url("../assets/51714016-0-replay.png");
	/* background-position: 0 100%; */
	background-repeat: no-repeat;
	padding-bottom: 180px;
	animation: move-down 1.2s infinite alternate;
	-webkit-animation: move-down 1s infinite alternate;
	text-align: center;
}

@keyframes move-down {
	from {
		background-position: 0 90%;
	}
	to {
		background-position: 0 100%;
	}
}

.Teams a,
.qualifiedTeams a {
	color: #fff;
}

.Teams h1{
	color: #fff;
}

.qualifiedTeams h1 {
	color: #fff;
}

.Team__wrapper {
	display: inline-block;
	margin-bottom: 20px;
}

.Team__title {
	background-color: #7574B4;
	width: 225px;
	text-align: center;
	padding: 10px 0;
	margin: 0 10px;
}

.Team__title p {
	font-size: 1.3em;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

.Team__title span {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 500;
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 1.15em;
	font-weight: 600;
}

.Team__cover {
	width: 225px;
	height: 225px;
	margin: 0 10px;
	background-size: cover;
}

.rotate:hover {
	transform: rotate(0.9deg);
	transition: 0.1s ease-in;
}

@media screen and (max-width: 510px) {
	@keyframes move-down {
		from {
			background-position: 0 100%;
		}
		to {
			background-position: 0 110%;
		}
	}
}

.Teams h1 {
	font-size: 3em;
	text-align: center;
}

.Team__team-wrapper {
	margin: 0 auto;
}

.Teams__logo-wrapper {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
}

.Teams__logo-wrapper img {
	width: 100%;
	max-width: 500px;
}

.Teams__team-wrapper ul {
	list-style: none;
	margin-block-start: 0;
	padding-inline-start: 0;
	margin-bottom: 140px;
}

.Teams__team-wrapper li {
	padding-bottom: 30px;
}

.Teams__team-member-wrapper {
	margin: 0 auto;
	max-width: 500px;
	padding: 10px 0;
	border-bottom: 3px solid #7574B4;
}

.Teams__team-member-name {
	text-transform: uppercase;
	font-size: 1.6em;
	display: inline;
	padding-right: 20px;
	vertical-align: sub;
	color: #fff;
}

.Teams__team-member-role {
	display: inline;
	color: #fff;
	padding: 5px 10px;
	background-color: #58597A;
}

.Teams__team-member-twitter,
.Teams__team-member-gc {
	display: inline-block;
	border-radius: 100%;
}

.Teams__team-member-sm {
	float: right;
	display: inline;
}

.svg-cls {
	width: 40px;
	padding: 0 3px;
	margin: -1px;
}

.svg-cls:hover,
.cls-4:hover,
.st0:hover {
	fill: #fff;
	
}

@media screen and (max-width: 767px) {
	.Teams {
		padding: 0 30px;
		margin-bottom: 30px;
		text-align: center;
	}

	.Teams__team-member-wrapper {
		max-width: 500px;
	}

	.svg-cls {
		width: 30px;
		padding: 0 3px;
		margin: -1px;
	}

	.Teams__team-member-name {
		font-size: 1.2em;
	}

	.Teams__team-member-role {
		display: block;
		margin-top: 10px;
		position: absolute;
		color: #cfcccc;
		background-color: transparent;
	}

	.Teams__team-wrapper ul {
		margin-bottom: 0;
	}
}